@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700i');

/* Basics */
.bg-light { background-color:#e7e7e7 !important; }
.bg-va-green { background-color: #8BC34A; }
.btn-va-green { background-color:#8BC34A; }
.text-va-darkgreen { color: #77a83e;}
.text-va-green { color: #8BC34A; }
.border-va-green { border-color: #8BC34A !important; }
.border-ari-blue { border-color: #069 !important;}
.rounded { border-radius:1rem !important; }
a:not(.btn) { color: #000; text-decoration: underline;}


/* Event Calendar */
.event-container {
      border-bottom: 1px solid #bababa;
}

.event-container:first-child {
      border-top: 1px solid #bababa;
}

.event-list .time {
      padding: 1px;
      text-align: center;
      text-transform: uppercase;
      border-left: 3px solid;
}

.event-list .day {
      display: block;
      font-size: 2rem;
      font-weight: 100;
      line-height: 1;
}

.event-list .month {
      display: block;
      font-size: 1rem;
      font-weight: 900;
      line-height: 1;
}

.calendar-text, .calendar-date {
      /*background-color:#fff;*/
      padding-top:10px;
      padding-bottom:10px;
}

.calendar-text .event {
      font-weight:bold;
      font-size:larger;
}

.calendar-text .location {
      color: rgb(0,0,0);
      color: rgba(0,0,0,0.5);
      font-size:smaller;
}

/* Vorteile */
#vorteile .card {
  flex-direction: row;
  background:none;
}

#vorteile .card-body {
  position: relative;
  padding:0;
}
#vorteile .card-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}
#vorteile .card-header {
  background:none;
  border:none;
  padding: .15rem 1.25rem .15rem .75rem;
  display: flex;
  align-items: center;

}
#vorteile img {
  width:48px;
}

#vorteile .two-icons {
  flex-direction: column;
}


/* Pakete */

#pakete .bg-gradient {
  background-color: #8BC34A;
  background: linear-gradient(145deg, #8BC34A, #618c2f);
}

#pakete .card {
  border:none;
  border-radius: 0;
}

#pakete .card-text {
  border-top:2px dashed #fff;
  padding-top:14px;
}

#pakete .card-title {
  height:70px;
}

#pakete .card-header, #pakete .card-title {
  line-height: 1;
}

#pakete .card-header {
  border:2px solid #bdbdbd;
  border-bottom:none;
}

#pakete .card-body {
  padding-top: .8rem;
  padding-bottom: .8rem;
}


.logo {
      height: 50px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
}

.logo.va {
      -webkit-filter: invert(.6);
      filter:invert(.6);
}

* {
  font-family: 'Titillium Web', sans-serif;
}

body {
  overflow-x: hidden;
}


h1{ font-size: 2.5em; font-weight: lighter; }
h2{ font-size: 2em; font-weight: lighter; }
h3{ font-size: 1.5em; font-weight: lighter; }

span.text-warning {color: #FFE254; font-variant: small-caps; vertical-align: +5px; }

.img-full{
  width: 100%;
}

/*---------------------------------------------------------------------------------------------------------------------------------
--------SPECIFIC FOR LANDING PAGE---------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------*/
header.intro{
  background-image: url("../img/mann-im-freien.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}


.brand-heading{
  font-size: 3.5em;
  color: #fff;
  font-weight: lighter;
  text-align: center;
  padding-top: 15%;
}

.intro-text{
  font-size: 2em;
  color: #fff;
  font-weight: lighter;
  margin-top: 5%;
  margin-bottom: 5%;
}



.modal-body{
  padding: 0px;
}


/*-btn-circle-scroll-*/
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: #b0d683;
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}




/*-----FOOTER-----------*/
footer{
  background-color: #e7e7e7;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 5px solid #fff;
}



footer ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer ul > li > a{
  color: #333;
}

footer h4{
  margin-bottom: 5px;
}



 /*-Media queries-*/
@media (max-width: 768px) {


  /*-nav-*/
  .navbar-brand > img{
    max-width: 155px;
  }

  .navbar-header > button {
    line-height: 68.88px;
  }

  .navbar-collapse{
    background-color: #8BC34A;
  }

  .navbar-collapse > ul.nav > li > a{
    color: #fff;
  }

  .navbar-collapse > ul.nav > li > a:hover{
    color: #FFE254;
    background-color: transparent;
  }

  .navbar-collapse.in {
    overflow-y: inherit !important;
  }

  h1{ font-size: 1.8em !important;}
  h2{ font-size: 1.6em !important;}
  h3{ font-size: 1.5em !important;}
  .intro-text{ font-size: 1.4em !important;}
  p.landing-p{ font-size: 1.4em !important;}


  section#cta > div > div > div > img{
    display: none;
  }

  header.intro{
    padding-top: 8%;
  }

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  header.intro{
    height:100vh;
    min-height: 600px;
  }

  /*-nav-*/
  .top-nav-collapse{
    background-color: #8BC34A;
  }

  .navbar-brand > img{
    max-height: 70px;
  }

  .navbar-nav li a {
    line-height: 70px;
  }

  ul.nav > li > a{
    color: #fff;
    height: 100px;
  }

  ul.nav > li#rightlog{
    line-height: 100px;
    margin-left: 15px;
  }

  ul.nav > li > a:hover, ul.nav > li > a:active, ul.nav > li > a:visited, ul.nav > li > a:link {
    color: #fff;
    background-color: transparent;
  }

  .desktop-logo{
    display: block !important;
  }

  .mobile-logo{
    display: none !important;
  }
}


@media (min-width: 768px) and (max-width: 1200px) {

  #vorteile .card-text{
    font-size:14px;
  }

  #vorteile img {
    width:36px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
    #vorteile .card-text{
    font-size:11px;
  }

   #vorteile img {
    width:32px;
  }

  #vorteile .card-header {
  padding: .75rem .60rem .75rem .20rem;
  }
}
